.site-footer{
    
    display: flex;

    width: 100%;
    section{
       
         float: right;
         justify-content: center;
         text-align: center;
         padding-right: 27%;
        
    }

}

@media screen and (min-width: 601px){

    .site-footer{
        display: flex;
        flex-direction: column;
    }
  
}

