.site-footer{
    
    background-color: skyblue;
    display: flex;
    flex-direction: column;

    section{
        flex-direction: column;
         float: right;
         justify-content: center;
         text-align: center;
         padding-right:20%;
        
    }

}

