.site-footer{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    section{
       
         float: right;
         justify-content: center;
         text-align: center;
         padding-right: 27%;
        
    }

}

